@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*МОИ ПРАВКИ*/
/*remove lines in links and marks in list*/
* {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/*NORMALIZE*/
/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

/*когда открыта модалка - не дает скроллить контент на фоне*/
body.modal-open {
  overflow: hidden;
}

/*контейнер*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*секции*/
.section {
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/*---ШАПКА---*/
.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    top: -1px;
    left: 0;
    z-index: 100;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*позиционирование элементов шапки*/
.page-header-flex {
  /*планшет+ноут*/
}

@media screen and (min-width: 768px) {
  .page-header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*ЛОГО*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
  /*тень при фокусе*/
  /*ноут*/
}

.logo--color {
  color: #2196f3;
}

.logo:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2196f3;
          box-shadow: 0 0 0 2px #2196f3;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

/*лого в футере*/
.footer__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  /*тень при фокусе лого в футере*/
  /*мобильный+планшет*/
}

.footer__logo:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

/*---НАВИГАЦИЯ САЙТА---*/
.site-nav {
  margin: 0;
  padding: 0;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin: 0;
    margin-left: 93px;
  }
}

/*планшет+ноут*/
@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

/*увеличение активной зоны для элементов меню*/
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*подсветка активной страницы*/
  /*нижнее подчеркивание активной страницы в хедере*/
  /*изменение цвета элемента меню при наведении*/
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}

.site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link:focus {
  color: #2196f3;
  outline: none;
}

/*обратная связь*/
.contacts-nav {
  display: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  white-space: nowrap;
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
  }
}

/*планшет*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*ноут*/
@media screen and (min-width: 1200px) {
  .contacts-nav__item:not(:first-child) {
    margin-left: 30px;
  }
}

.contacts-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: #2196f3;
  outline: none;
}

/*иконки*/
.contacts-nav__icon {
  margin-right: 8px;
  fill: currentColor;
  /*планшет*/
}

@media screen and (min-width: 768px) {
  .contacts-nav__icon {
    margin-right: 10px;
  }
}

.contacts-nav__icon--envelope {
  width: 14px;
  height: 10px;
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .contacts-nav__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

.contacts-nav__icon--mobile {
  width: 10px;
  height: 14px;
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .contacts-nav__icon--mobile {
    width: 10px;
    height: 16px;
  }
}

/*---ГЕРОЙ---*/
.hero {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 576px) {
  .hero {
    max-width: 480px;
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-mobile.jpg");
    /* Переопределяем путь к 2x изображению
   если плотность экрана как минимум 2 */
  }
}

@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 192dpi), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-mobile-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-mobile-2x.jpg");
  }
}

@media screen and (min-width: 577px) {
  .hero {
    max-width: 768px;
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-tablet.jpg");
    /* Переопределяем путь к 2x изображению
    если плотность экрана как минимум 2 */
  }
}

@media screen and (min-width: 577px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-tablet-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-tablet-2x.jpg");
  }
}

@media screen and (min-width: 961px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-desktop.jpg");
    /* Переопределяем путь к 2x изображению
      если плотность экрана как минимум 2 */
  }
}

@media screen and (min-width: 961px) and (min-device-pixel-ratio: 2), screen and (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 961px) and (min-resolution: 192dpi), screen and (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./../images/hero-desktop-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/hero-desktop-2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*мобильный*/
  /*ноут*/
}

@media screen and (max-width: 960px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.615;
    max-width: 360px;
  }
}

@media screen and (min-width: 961px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__content {
  /*мобильный*/
  padding-top: 118px;
  padding-bottom: 118px;
  /*ноут*/
}

@media screen and (min-width: 961px) {
  .hero__content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/*КНОПКИ*/
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  /*тень при фокусе*/
}

.button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
          box-shadow: 0 0 0 2px #ffffff;
  border-radius: 4px;
}

/*---ПЕРЕЧЕНЬ ОСОБЕННОСТЕЙ---*/
.features {
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  text-align: left;
  /*планшет и ноут*/
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

/*сетка*/
.features__item {
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

/*иконки*/
.features__icon {
  margin-bottom: 30px;
  max-height: 120px;
  padding: 25px 110px;
  max-width: 350px;
  background-color: #f5f4fa;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 480px) {
  .features__icon {
    padding: 25px 190px;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__icon {
    padding: 25px 142px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    padding: 20px 100px;
    width: 270px;
  }
}

/*заголовки*/
.features__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*текст*/
.features__descr {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/*---ЧЕМ ЗАНИМАЕМСЯ---*/
@media screen and (max-width: 1199px) {
  .job {
    display: none;
  }
}

.job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

/*сетка*/
.job__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.job__subtitle {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}

/*---СПИСОК КОМАНДЫ---*/
/*фон для секции команды*/
.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  line-height: 1.19;
  /*планшет и ноут*/
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

/*члены команды*/
/*сетка*/
.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .team__item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team__thumb {
  width: 100%;
  height: 296px;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__thumb {
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    height: 260px;
  }
}

.team__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*обертка подписей и иконок соцсетей под фото*/
.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  /*мобильный 320px*/
  /*мобильный 480px*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 479px) {
  .team__box {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__box {
    padding-left: 122px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 768px) {
  .team__box {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/*список ссылок на социальные сети*/
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 206px;
  /*мобильный*/
  color: #afb1b8;
}

/*ссылка на соцсеть*/
.social-list__link {
  display: block;
  padding: 0;
  margin: 0;
  color: #afb1b8;
  line-height: 0;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*тень при фокусе*/
  /*другой фон ссылки на соцсеть в футере*/
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #f5f4fa;
          box-shadow: 0 0 0 1px #f5f4fa;
  border-radius: 50%;
}

.social-list__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

/*иконки соцсетей*/
.social-list__icon {
  padding: 12px;
  width: 44px;
  height: 44px;
  fill: currentColor;
}

/*---ПОСТОЯННЫЕ КЛИЕНТЫ---*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  line-height: 1.19;
}

/*сетка*/
.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*изменение цвета элемента меню при наведении*/
  /*тень при фокусе*/
}

.clients__link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}

/*---МОДАЛЬНОЕ ОКНО---*/
/*фон*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  /*мобильный*/
  /*планшет+ноут*/
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 93px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*модальное окно*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 500px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  /*мобильный 480px*/
  /*ноут*/
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

/*кнопка закрытия модального окна*/
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  line-height: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*тень кнопки закрытия при фокусе*/
}

.button-close:hover {
  color: #2196f3;
}

.button-close:focus {
  color: #2196f3;
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
}

.button-close--color {
  fill: currentColor;
}

/*--ФОРМА В МОДАЛЬНОМ ОКНЕ--*/
.form {
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  /*мобильный 480px*/
}

@media screen and (min-width: 480px) {
  .form {
    padding: 40px;
  }
}

/*заголовок*/
.form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  /*мобильный 480px*/
  /*ноут*/
}

@media screen and (min-width: 480px) {
  .form__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.form__wrapper {
  position: relative;
}

.form__input {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
  caret-color: #2196f3;
}

/*иконки полей модального окна*/
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 18px;
  height: 18px;
  color: #212121;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*изменение цвета иконки при фокусе input*/
}

.form__input:focus ~ .form__icon {
  color: #2196f3;
}

/*поле комментария*/
.form__comment {
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  font-size: 14px;
  line-height: 1.142;
  /*ноут*/
}

.form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
  caret-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form__comment {
    font-size: 12px;
    line-height: 1.167;
  }
}

/*соглашение на рассылку*/
.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  /*ноут*/
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.policy__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  cursor: pointer;
  padding: 0;
  margin-bottom: 30px;
}

/*скрывается checkbox браузера*/
.policy__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*иконка чекбокса*/
.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

/*скрываем иконку чекбокса*/
.policy__icon--display {
  display: none;
}

/*при выборе checkbox появляется иконка*/
.policy__input:checked + .policy__icon use {
  display: inline-block;
}

/*при выборе checkbox исчезает бордер*/
.policy__input:checked + .policy__icon {
  border: none;
}

/*при фокусе checkbox появляется бордер*/
.policy__input:focus + .policy__icon {
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.policy__link {
  margin-left: 4px;
  text-decoration: underline;
  color: #2196f3;
}

/*кнопка формы*/
.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__button:hover, .form__button:focus {
  background-color: #188ce8;
}

/*---ФУТЕР---*/
.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: 603px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    min-height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    min-height: 252px;
  }
}

.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  /*мобильный+планшет*/
}

@media screen and (max-width: 1199px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
  }
}

/*позиционирование контента футера*/
.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .flex-footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 60px;
  }
}

.footer-box {
  /*планшет*/
  /*ноут*/
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/*адрес в футере*/
.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address {
    margin-right: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer-address__text {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /*мобильный+планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer-address__text {
    margin-bottom: 8px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address__text {
    margin-bottom: 9px;
    text-align: left;
  }
}

.footer-address__list {
  margin: 0;
  padding: 0;
}

.footer-address__item:not(:last-child) {
  /*мобильный*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer-address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address__contacts {
  padding: 0;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*тень при фокусе*/
  /*ноут*/
}

.footer-address__contacts:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

.footer-address__contacts:hover {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-address__contacts {
    text-align: left;
  }
}

/*--СОЦИАЛЬНЫЕ СЕТИ в футере--*/
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*мобильный*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 86px;
  }
}

/*иконки соцсетей в футере*/
.footer__social-list {
  max-width: 206px;
}

/*--ФОРМА:ПОДПИСЫВАЙТЕСЬ--*/
.footer-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*мобильный*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .footer-sign {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign {
    margin-left: 93px;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*планшет*/
}

@media screen and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form__input {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*мобильный*/
  /*мобильный*/
  /*ноут*/
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 90vw;
  }
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

/*кнопка формы футера*/
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  /*мобильный*/
}

@media screen and (max-width: 1199px) {
  .footer__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

/*список радио-кнопок*/
.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .filters-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filters-list__item {
    margin-bottom: 15px;
  }
}

/*расстояние между кнопками, кроме последней*/
.filters-list__item:not(:last-child) {
  margin-right: 8px;
  /*мобильный*/
}

.filters-list__button {
  display: inline-block;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*изменение цвета кнопки при наведении*/
}

.filters-list__button:hover, .filters-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/*примеры работ - портфолио*/
.portfolio-list {
  margin: 0;
  padding: 0;
  /*планшет и ноут*/
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

/*сетка*/
.product {
  border: 1px solid #eeeeee;
  /*мобильный*/
  /*планшет*/
  /*ноут*/
}

@media screen and (max-width: 767px) {
  .product:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

/*проекты в портфолио*/
.product__link {
  color: #212121;
  display: block;
  -webkit-transition: -webkit-box-shadow 250px cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250px cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250px cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250px cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250px cubic-bezier(0.4, 0, 0.2, 1);
  /*появление тени при наведении на карточку*/
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.product__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*всплывающий текст при ховере*/
.product__descr {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product__descr,
.product:focus .product__descr {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/*обертка подписей под фото*/
.product__meta {
  padding: 20px 24px;
}

/*заголовки в списке портфолио*/
.product__name {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*текст в списке портфолио*/
.product__type {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: currentColor;
  /*планшет+ноут - прячем кнопку выпадющего меню*/
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #188ce8;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  z-index: 111;
  top: 10px;
  right: 15px;
  cursor: pointer;
  fill: #212121;
}

.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  fill: #188ce8;
}

.mobile-menu {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.175;
  /*мобильный*/
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    font-size: 40px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  /*подсветка активной страницы*/
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__link:hover {
  color: #2196f3;
}

.mobile-menu__link:focus {
  color: #2196f3;
  outline: none;
}

.mobile-contacts {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.176;
  color: #2196f3;
  /*мобильный*/
}

@media screen and (min-width: 480px) {
  .mobile-contacts__tel {
    font-size: 34px;
  }
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  color: #757575;
  /*мобильный*/
}

@media screen and (min-width: 480px) {
  .mobile-contacts__mail {
    font-size: 24px;
  }
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.222;
  color: #2196f3;
  /*мобильный*/
}

.mobile-social__link::after {
  content: '';
  position: absolute;
  top: 3px;
  right: -10px;
  width: 0px;
  height: 15px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  /*мобильный*/
}

@media screen and (min-width: 480px) {
  .mobile-social__link::after {
    top: 0px;
    height: 22px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.mobile-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */