.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 5;

  letter-spacing: 0.02em;
  background-color: $white-сolor;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  fill: currentColor;

  &:hover,
  &:focus {
    color: #188ce8;
  }

  /*планшет+ноут - прячем кнопку выпадющего меню*/
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  z-index: 111;
  top: 10px;
  right: 15px;

  cursor: pointer;
  fill: $primary-text-color;

  &:hover,
  &:focus {
    fill: #188ce8;
  }
}

.mobile-menu {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.175;

  /*мобильный*/
  @media screen and (min-width: $mobile) {
    font-size: 40px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  color: $primary-text-color;

  /*подсветка активной страницы*/
  &--current {
    color: $accent-color;
  }

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.mobile-contacts {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.176;

  color: $accent-color;

  /*мобильный*/
  @media screen and (min-width: $mobile) {
    font-size: 34px;
  }
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;

  color: $text-color;

  /*мобильный*/
  @media screen and (min-width: $mobile) {
    font-size: 24px;
  }
}

.mobile-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.222;

  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -10px;
    width: 0px;
    height: 15px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    /*мобильный*/
    @media screen and (min-width: $mobile) {
      top: 0px;
      height: 22px;
    }
  }

  /*мобильный*/
  @media screen and (min-width: $mobile) {
    font-size: 18px;
  }
}

.mobile-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
