/*---НАВИГАЦИЯ САЙТА---*/
.site-nav {
  margin: 0;
  padding: 0;

  /*мобильный*/
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
  }
  /*планшет*/
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  /*ноут*/
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 93px;
  }
}

/*планшет+ноут*/
.site-nav__item:not(:first-child) {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

/*увеличение активной зоны для элементов меню*/
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  transition: color 250ms $timing-fn;

  /*подсветка активной страницы*/
  &--current {
    color: $accent-color;
  }

  /*нижнее подчеркивание активной страницы в хедере*/
  &--current {
    position: relative;
  }

  &--current::after {
    position: absolute;
    display: block;

    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px;

    background-color: $accent-color;
  }

  /*изменение цвета элемента меню при наведении*/

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
    outline: none;
  }
}
