$logo-color:#000000;
$primary-text-color:#212121;
$text-color:#757575;
$white-сolor:#ffffff;
$accent-color:#2196f3;
$accent-color-opacity:rgba(33, 150, 243, 0.9);
$header-border-color:#ececec;
$hero-background-color:#c4c4c4;
$hero-background-gradient:rgba(47, 48, 58, 0.4);
$background-features-title:rgba(47, 48, 58, 0.8);
$footer-text-color:rgba(255, 255, 255, 0.6);
$footer-background-color:#2f303a;
$footer-icon-background:rgba(255, 255, 255, 0.1);
$portfolio-button-background:#f5f4fa;
$portfolio-card-background:#eeeeee;
$icon-color:#afb1b8;
$width-container: 1200px;
$card-set-gap: 30px;
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);

